<div class="container-fluid" ng-if="loaderVisibility">
	<div class="row" id="site-loader"></div>
</div>
<div class="container" ng-if="!loaderVisibility">
	<div class="row">
		<div class="col-12 col-md-7">
			<div class="row">&nbsp;</div>
			<div class="row">
				<div class="card border-info w-100">
					<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
						<div class="carousel-inner">
								<div class="carousel-item active">
								<img class="d-block w-100" src="sai/assets/img/banner-1.png" alt="curious">
							</div>
								<div class="carousel-item">
								<img class="d-block w-100" src="sai/assets/img/banner-2.png" alt="help_you">
							</div>
								<div class="carousel-item">
								<img class="d-block w-100" src="sai/assets/img/banner-3.png" alt="see_below">
							</div>
						</div>
					</div>
					<div class="card-body">
						<h4 class="card-title">
							<i class="fas fa-file-code"></i> SAI: SingleAccessInterface<br>
						</h4>
						<div class="dis-inline" ng-repeat="tg in ql.Tag">
							<span class="badge badge-pill badge-secondary">Badge</span> &nbsp;
						</div>
						<h5></h5>
						<p class="card-text text-justify">
							For better understanding, lets have a real life scenario analysis : <br>
							<h5>Scenario</h5>
							<ul>
								<li>You own a personal laptop</li>
								<li>Definitely you would be login into some popular web application like messenger, gmail, etc regularly</li>
								<li>No one love to sign in everytime, So most of the time we select the remember me option on such web application</li>
								<li>Suppose anyone (let say your friend) ask you for your personal laptop</li>
								<li>Now the question arises, <b>Can you give them your personal laptop instantly ?</b></li>
								<li>Obvious Answer is <b>No</b> ! Why so ? Because I believe you dont want to share your personal data from your logged in web application or you dont want to reveal your browsing history</li>
							</ul>
							<h5>Solution</h5>
							Lets see, how you can share your personal laptop without leaking any personal data
							<ul>
								<li>Go to each website, log out one by one and hand it over to them</li>
								<li>Go to browser setting, clear out your history and cache</li>
							</ul>
							Is this the only way ? No
							<ul>
								<li>You can choose to stay close to your laptop and stick your eyes on screen as long as they are using your laptop</li>
							</ul>
							These solution`s makes you frustated ? If <b>Yes</b><br>
							<ul>
								<li>Then the solution to your issue is <b>SingleAccessInterface</b> a.k.a. <b>SAI</b></li>
							</ul>
							<h5>Thinking How ? Me too <i class="far fa-laugh-wink"></i></h5>
							<ul>
								<li>SAI has in-built centralised single password login system.</li>
								<li>Just sing in once and all your application is made available to you</li>
								<li>Close it, It will lock down automatically</li>
								<li>Someone tried to enter forcefully, it can detect it and destroy your personal data that are saved locally</li>
							</ul>
							Well this all are intial features .. <br>
							Stay with me to get further update and keep your <b>PERSONAL DATA SECURE</b><br><br>
						</p>
						<a ui-sref="home" class="btn btn-light float-left" ng-if="accesstype!='desktopapp'">
							<i class="fas fa-arrow-circle-left"></i> Back to Dev Site
						</a>
						<a ui-sref="home" class="btn btn-primary float-right" ng-if="accesstype=='desktopapp'">
							<i class="fab fab fa-connectdevelop"></i> Developer Website
						</a>
						<a href="" class="btn btn-primary float-right" ng-if="accesstype!='desktopapp'">
							<i class="fas fa-download"></i> Try Now
						</a>
					</div>
				</div>
			</div>
			<div class="row">&nbsp;</div>
		</div>
		<div class="col-12 col-md-1">
			<div class="row">&nbsp;</div>
		</div>
		<div class="col-12 col-md-4">
			<div class="row">&nbsp;</div>
			<div class="row">
				<div class="card border-info w-100">
					<div class="card-body">
						<h4 class="card-title">
							<i class="fas fa-wrench"></i> Latest Updates <br><br>
						</h4>
						<div ng-repeat="asd in appStatusData">
							<p class="card-text">
								<h6 class="pointer" data-toggle="collapse" data-target="#{{asd.CodeName}}" aria-expanded="{{asd.Latest}}" aria-controls="{{asd.CodeName}}">
									<i class="fas fa-chevron-circle-down"></i> {{asd.Version}}
								</h6>
								<ul class="collapse {{(asd.Latest==true)?'show':''}} float-left w-100" id="{{asd.CodeName}}" ng-repeat="vc in asd.VersionChanges">
									<li>{{vc}}</li>
								</ul>
							</p>
						</div>
						<br>
						<div class="float-left w-100">
							<button class="btn btn-secondary float-left" type="button" data-toggle="collapse" data-target="#collapseVersion" aria-expanded="false" aria-controls="collapseVersion" ng-if="accesstype!='desktopapp'">
								<i class="fas fa-download"></i> Other Version
							</button>
							<a href="" class="btn btn-primary float-right"><i class="fas fa-download"></i> Latest Version</a>	
						</div>
						<div class="collapse float-left w-100" id="collapseVersion"><br>
							<div ng-repeat="asd in appStatusData">	
								<a ng-if="asd.VersionType=='Stable'" href="{{asd.DownloadLink}}" class="btn btn-light w-100">
									<i class="fas fa-download"></i> {{asd.Version}}&nbsp; &nbsp; 
								</a>
								<span ng-if="$index!=appStatusDataLength-1"><br><br></span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">&nbsp;</div>
			<div>
				<div class="row">
					<div class="card border-info w-100">
						<div class="card-body">
							<h5 class="card-title">
								<i class="fas fa-question"></i> Frequently Asked Questions <br><br>
							</h5>
							<div ng-repeat="fdd in faqDetailData">
								<p class="card-text">
									<div class="float-left w-100">
										<h6 class="float-left pointer" data-toggle="collapse" data-target="#{{fdd.IssueCode}}" aria-expanded="false" aria-controls="{{fdd.IssueCode}}">
											<i class="fas fa-chevron-circle-down"></i>  &nbsp; {{fdd.Question}}
										</h6>
									</div>
									<p ng-if="fdd.ParaAnswer!=''" class="collapse float-left w-100" id="{{fdd.IssueCode}}">
										{{fdd.ParaAnswer}}
									</p>
									<ul ng-if="fdd.BullAnswer!=''" class="collapse float-left w-100" id="{{fdd.IssueCode}}" ng-repeat="ba in fdd.BullAnswer">
										<li>{{ba}}</li>
									</ul>
								</p>
								<br><br>
							</div>
							<br>
							<a href="mailto:smaro.nitr@gmail.com" class="btn btn-primary w-100"><i class="far fa-envelope"></i> &nbsp; Still Issues Persist ? Email Me</a>
						</div>
					</div>
				</div>
				<div class="row">&nbsp;</div>
			</div>
		</div>
	</div>
</div>