<div class="container">
	<div class="row">
		<div class="col-12 col-md-7">
			<div class="row">&nbsp;</div>
			<div class="row">
				<div class="card border-info w-100">
					<img class="card-img-top" src="smaro-nitr/assets/img/me.jpg" alt="subhendu">
					<div class="card-body">
						<h3 class="card-title">
							<i class="far fa-smile-beam"></i> Hi Folks !!!
						</h3>
						<span class="badge badge-success">Subhendu</span> &nbsp;
						<span class="badge badge-success">Web Developer</span> &nbsp; 
						<span class="badge badge-success">India</span> <h5></h5>
						<p class="card-text">
							Subhendu Here ... <br>
							Fullstack Web Developer ... <br>
							Used to be in relationship with <span class="badge badge-info">PHP</span> , <span class="badge badge-info">Java</span> ... <br>
							But now commited to <span class="badge badge-primary">NodeJs</span> only ... Afterall <span class="badge badge-primary">JavaScript</span> reside inside me<br>    
						</p>
					</div>
				</div>
			</div>
			<div class="row">&nbsp;</div>
			<div class="row">
				<div class="card border-info w-100">
					<div class="card-body">
						<h3 class="card-title">
							What I <i class="fas fa-heart"></i> to do ?
						</h3>
						<p class="card-text">
							<br><span class="badge badge-info fs-16"><i class="fas fa-utensils"></i> Eat</span> <br><br>
							<span class="badge badge-info fs-16"><i class="fas fa-bed"></i> Sleep</span> <br><br>
							<span class="badge badge-primary fs-16"><i class="fas fa-plane"></i> Travel</span> <br><br>
							<span class="badge badge-primary fs-16"><i class="fas fa-code"></i> Play with <span id="strike-off">Heart</span> Code</span> <br><br>
							<span class="badge badge-secondary fs-16"><i class="fas fa-sync fa-spin"></i> Repeat</span>
						</p>
					</div>
				</div>
			</div>
			<div class="row">&nbsp;</div>
			<div class="row">
				<div class="card border-info w-100">
					<div class="card-body">
						<h3 class="card-title">
							What I <i class="fas fa-keyboard"></i> now ?
						</h3>
						<p class="card-text dis-inline" ng-repeat="cn in codeNowData">
							<span ng-if="$index==0"><br></span>
							<span class="badge {{cn.Status}} fs-16"><i class="fas fa-code"></i> {{cn.Title}} </span>
							<span ng-if="cn.NextPosition=='inline'">&nbsp;</span> 
							<span ng-if="cn.NextPosition=='block'"><br><br></span>
						</p>
					</div>
				</div>
			</div>
			<div class="row">&nbsp;</div>
		</div>
		<div class="col-12 col-md-1">
			<div class="row">&nbsp;</div>
		</div>
		<div class="col-12 col-md-4">
			<div class="row">&nbsp;</div>
			<div class="row">
				<div class="card border-light w-100">
					<div class="card-body">
						<h3><i class="fas fa-paper-plane" id="quick-link"></i> Quick Links</h3>
					</div>
				</div>
			</div>
			<div ng-repeat="ql in quickLinkData">
				<div class="row">
					<div class="card border-info w-100">
						<img ng-if="ql.ImageVisibility" class="card-img-top" src="smaro-nitr/assets/img/sai.jpg" alt="sai">
						<div class="card-body">
							<h5 class="card-title">
								{{ql.Title}} <br>
							</h5>
							<div class="dis-inline" ng-repeat="tg in ql.Tag">
								<span class="badge badge-pill badge-secondary">{{tg}}</span> &nbsp;
							</div>
							<h5></h5>
							<p class="card-text">{{ql.Description}}</p>
							<a href="#" class="btn btn-light float-left" ng-if="ql.ButtonOne!=''">{{ql.ButtonOne}}</a>
							<a href="#" class="btn btn-primary float-right" ng-if="ql.ButtonTwo!=''"><i class="fas fa-download"></i> {{ql.ButtonTwo}}</a>
						</div>
					</div>
				</div>
				<div class="row">&nbsp;</div>
			</div>
		</div>
	</div>
</div>
<footer class="container-fluid jumbotron">
	<span class="text-muted">Subhendu Kumar Sahoo &#169; 2018</span>
</footer>