#smaro-nitr .navbar{
  background:#003171;
}
#smaro-nitr .navbar-brand span{
  color:#fff;
}
#smaro-nitr .connect-table{
  font-weight:600; font-size:1.25em;
}
.icon-design-override-1{
  font-size:14px;
  color:#003171;
  text-align:center;
}
#smaro-nitr #connectModalCenterTitle{
  font-size:20px;
}
#smaro-nitr .connect-table a{
  font-size:16px;
}
#smaro-nitr #strike-off{
  text-decoration:line-through; 
  color:#aaa
}
#smaro-nitr #quick-link{
  text-align:center;
}
footer.jumbotron{
  margin:0; 
  padding:15px 0; 
  text-align:center;
}
.fs-16{
  font-size:16px;
}
.float-right{
  float:right;
}
.float-left{
  float:left;
}
.vis-0-576{
  display:inline-block;
}
.vis-576-x{
  display:none;
}
.dis-inline{
  display:inline;
}
.pointer{
  cursor: pointer;
}
@keyframes loader-animation {
  0%  {background-color:rgb(85, 255, 6);}
  33%	{background-color:rgb(255, 123, 0);}
  67% {background-color:rgb(255, 255, 0);}
  99% {background-color:rgb(85, 255, 6);}
}
#site-loader{
  height:5px;
  animation-name:loader-animation;
  animation-duration:3s;
  animation-iteration-count:infinite;
}
.version-date{
  font-size:10px;
  color:#6c757d;
}
@media (min-width: 576px) {
  #smaro-nitr #connectModalCenterTitle{
    font-size:27px;
  }
  .icon-design-override-1{
    font-size:20px;
  }
  #smaro-nitr .connect-table a{
    font-size:20px;
  }
  .vis-0-576{
    display:none;
  }
  .vis-576-x{
    display:inline-block;
  }
}

@media (min-width: 768px) { }

@media (min-width: 992px) { }

@media (min-width: 1200px) { }