<nav ng-if="$root.navbarVisible" class="navbar sticky-top">
    <span class="navbar-brand mb-0 h1">
        <img src="smaro-nitr/assets/img/me-icon.jpg" width="40" height="40" class="d-inline-block align-middle" alt="sks"> &nbsp;
        <span>Subhendu Kumar Sahoo</span>
    </span>
    <button class="btn btn-outline-primary my-2 my-sm-0 vis-0-576" data-toggle="modal" data-target="#connectModalCenter"><i class="fas fa-user fs-16"></i></button>
    <button class="btn btn-outline-primary my-2 my-sm-0 vis-576-x" data-toggle="modal" data-target="#connectModalCenter" ng-if="$root.navbarContactVisible"><i class="fas fa-user fs-16"></i>&nbsp; Connect</button>
</nav>

<div class="modal fade" id="connectModalCenter" tabindex="-1" role="dialog" aria-labelledby="connectModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="connectModalCenterTitle">
                    <img src="smaro-nitr/assets/img/me-icon.jpg" width="45" height="45" class="d-inline-block align-middle" alt=""> Subhendu Kumar Sahoo
                </h3>
                <button type="button" class="close align-middle" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="d-inline-block align-middle">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table width="100%" class="connect-table">
                    <tr><td>&nbsp;</td></tr>
                    <tr>
                        <td><i class="fab fa-github icon-design-override-1"></i>
                        <td>&nbsp;<a href="https://github.com/smaro-nitr" target="_blank">Github</a></td>
                        <td>&nbsp;</td colspan="6">
                    </tr>
                    <tr>
                        <td colspan="2">&nbsp;</td>
                        <td><i class="fab fa-linkedin icon-design-override-1"></i>
                        <td>&nbsp;<a href="https://www.linkedin.com/in/smaronitr/" target="_blank">LinkedIn</a></td>    
                        <td colspan="4">&nbsp;</td>
                    </tr>
                    <tr>
                        <td colspan="4">&nbsp;</td>
                        <td><i class="fab fa-google icon-design-override-1"></i>
                        <td>&nbsp;<a href="mailto:smaro.nitr@gmail.com">Mailing</a></td>
                        <td colspan="2">&nbsp;<td>
                    </tr>
                    <tr>
                        <td colspan="6">&nbsp;</td>
                        <td><i class="fas fa-map icon-design-override-1"></i></td>
                        <td>&nbsp;<a href="https://www.google.com/maps/place/Pune,+Maharashtra/@18.5247663,73.7929269,12z" target="_blank">Address</a></td>
                    </tr>
                    <tr><td>&nbsp;</td></tr>
                </table>
            </div>
        </div>
    </div>
</div>